# main test workflow; ported from .travis.yaml

name: tests

on:
  push:
    branches: [ '*', $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install build pytest
        sudo apt update
        sudo apt install -y libgsl-dev libboost-test-dev
    - name: Build
      run: |
        git submodule update --init --recursive
        python3 -m build
    - name: Python unit tests
      run: pytest
    - name: Boost unit tests
      run: make test
